body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-container, .bottom-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; /* Adjust the height as needed */
    width: 100%; /* Full width to align the photo horizontally */
}

.photo-container img, .bottom-photo img {
    max-width: 100%;
    max-height: 100%;
}
